@font-face {
  src: url("D:/uni/webfolio/font/Lausanne-regular.otf");
  font-family: Lausanne;
}

@font-face {
  src: url("D:/uni/webfolio/font/Lausanne-300italic.otf");
  font-family: Lausanne-italic;
}

@font-face {
  src: url("/assets\fonts\EditorialNew-Regular.otf");
  font-family: EditorialNew-Regular;
}
